



<h1><%= entry.name %></h1>
<ul>
    <li>
        <p>Service: <%= entry.service %></p>
    </li>
    <li>
        <p>Email: <%= entry.Username %></p>
    </li>
    
    <div id= password-control class="custom-control custom-checkbox">
        <li>
            <p id="pass">Password: ******** </p>
        </li>
        <input type="checkbox" class="custom-control-input" data-password="<%= entry_pass %>" id="showpass">
        <label class="custom-control-label" for="showpass">Show password?</label>
      </div>
</ul>

<button type="button" id="exit-iframe" class="btn btn-danger">Close</button>
<a href="/edit/<%= entry.id %>" class="btn btn-warning">Edit</a>

<script>
    // hide iframe when close button is clicked
    let iframe_div = parent.document.getElementById("view-frame");
    const button = document.getElementById('exit-iframe')

    button.addEventListener('click', () => {
        let visiblity_style = window.getComputedStyle(iframe_div)
        let iframe_visiblity = visiblity_style.getPropertyValue('visibility')
        if (iframe_visiblity === 'visible') {
            iframe_div.style.visibility = 'collapse';
        }
    })
    
    const checkBox = document.getElementById('showpass');
    const password = checkBox.getAttribute('data-password')
    const passField = document.getElementById('pass')

    const hiddenPassword = () => {
        if (checkBox.checked === false) {
            passField.textContent = '**********'

        } else {
            passField.textContent = password

        }
    }

    checkBox.addEventListener('click', hiddenPassword);

        
</script>